%h2.text-center ¿Olvidaste tu contraseña?
= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
  = devise_error_messages!
  .field.form-group.col-md-4.offset-md-4
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"
  .actions.form-group.col-md-4.offset-md-4
    = f.submit "Envíame las instrucciones", class: "btn btn-sm btn-primary"
    %br
    = render "devise/shared/links"
