.container
  = image_tag "1821.jpg", class: "custom-img-fluid"
  .jumbotron.mt-5
    %h1.text-center ¿Que ofrecemos?
    %p
      Lorea El Ipsum Ascurrio qliao caracho lorea vendisuone matagatos y que saen cuca,
      ranazo chantar washas canada andai con meao despavila el moco saque cuca, embarao sablazo
      fineza cuca sablazo readi. Conotao odio oe zi yuta andai con meao ascurrio asikalao, chantar la
      legal oe si despavila el moco shilamediavola embarao paquepo, zarpao detonao despavila el moco soplamoco
      bellako. De corte saque readi tapao en joya tolompa, tapao en joya chantar.

  %h1.text-center Disfraces destacados
  .row
    .col-md-4
      = image_tag "action-animation-attraction-1049622.jpg", class: "img-fluid d-block w-100"
    .col-md-4
      = image_tag "adult-background-beard-716658.jpg", class: "img-fluid d-block w-100"
    .col-md-4
      = image_tag "black-background-costume-dark-1097456.jpg", class: "img-fluid d-block w-100"
  .row.mt-3
    .col-md-3
      = image_tag "colorful-costume-dance-59949.jpg", class: "img-fluid d-block w-100"
    .col-md-5
      = image_tag "celebration-close-up-costume", class: "img-fluid d-block w-100"
    .col-md-4
      = image_tag "adult-beard-celebration-1117808.jpg", class: "img-fluid d-block w-100"