%h2.text-center Acceso
= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .field.form-group.col-md-4.offset-md-4
    = f.label :email
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"
  .field.form-group.col-md-4.offset-md-4
    = f.label :password
    %br/
    = f.password_field :password, autocomplete: "off", class: "form-control"
  - if devise_mapping.rememberable?
    .field.form-group.col-md-4.offset-md-4
      = f.check_box :remember_me, class: "form-control"
      = f.label "Recuerdame"
  .actions.form-group.col-md-4.offset-md-4
    = f.submit "Acceder", class: "btn btn-sm btn-primary"
    %br
    = render "devise/shared/links"
    .fb-login-button{"data-auto-logout-link" => "true", "data-button-type" => "continue_with", "data-max-rows" => "1", "data-show-faces" => "true", "data-size" => "large", "data-use-continue-as" => "true"}
