!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title New ecommerce
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body

    #fb-root
    :javascript
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v3.1&appId=225151691532701&autoLogAppEvents=1';
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));


    :javascript
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '225151691532701',
          cookie     : true,
          xfbml      : true,
          version    : 'v3.1'
        });
        FB.AppEvents.logPageView();
        FB.getLoginStatus(function(response) {
            statusChangeCallback(response);
        });
      };

    %nav.navbar.navbar-expand-lg.navbar-dark
      %p.navParagraph.ml-5
        Haz tu pedido al +56 9 51064707 | contacto@disfracesfiesta.com
        %br
        = link_to "Disfraces Fiestas", root_path, class: "navbar-brand"
      %button.navbar-toggler{"aria-controls" => "navbarNav", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarNav", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      #navbarNav.collapse.navbar-collapse
        %ul.navbar-nav
          %li.nav-item
            = link_to "Productos", root_path, class: "custom-nav-link"
          %li.nav-item
            = link_to "Categorías", root_path, class: "custom-nav-link"
          %li.nav-item
            = link_to "Nuevos disfraces", root_path, class: "custom-nav-link"
          %li.nav-item
            = link_to "Comentarios de clientes", root_path, class: "custom-nav-link"
          - if user_signed_in?
            %li.nav-item
              = link_to current_user.email, edit_user_registration_path, class: "custom-nav-link"
              = link_to "Salir", destroy_user_session_path, method: :delete, class: "custom-nav-link"
          - else
            %li.nav-item
              = link_to "¡Registrate!", new_user_registration_path, class: "custom-nav-link"
            %li.nav-item
              = link_to "!Accede a tu cuenta¡", new_user_session_path, class: "custom-nav-link"
    %br
    - if notice
      %p.notice.alert.alert-success.col-md-4.offset-md-4
        = notice
    - if alert
      %p.alert.alert-warning.col-md-4.offset-md-4
        = alert
    .container
      = yield

/ Footer
%footer.page-footer.font-small.stylish-color-dark.pt-4
  / Footer Links
  .container.text-center.text-md-left
    / Grid row
    .row
      / Grid column
      .col-md-4.mx-auto
        / Content
        %h5.font-weight-bold.text-uppercase.mt-3.mb-4 Disfraces Fiesta
        %p
          Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor sit amet, consectetur
          adipisicing elit.
      / Grid column
      %hr.clearfix.w-100.d-md-none/
      / Grid column
      .col-md-2.mx-auto
        / Links
        %h5.font-weight-bold.text-uppercase.mt-3.mb-4 Servicios
        %ul.list-unstyled
          %li
            %a{:href => "#!"} Link 1
          %li
            %a{:href => "#!"} Link 2
          %li
            %a{:href => "#!"} Link 3
          %li
            %a{:href => "#!"} Link 4
      / Grid column
      %hr.clearfix.w-100.d-md-none/
      / Grid column
      .col-md-2.mx-auto
        / Links
        %h5.font-weight-bold.text-uppercase.mt-3.mb-4 Contacto
        %ul.list-unstyled
          %li
            %a{:href => "#!"} Link 1
          %li
            %a{:href => "#!"} Link 2
          %li
            %a{:href => "#!"} Link 3
          %li
            %a{:href => "#!"} Link 4
      / Grid column
      %hr.clearfix.w-100.d-md-none/
      / Grid column
      .col-md-2.mx-auto
        / Links
        %h5.font-weight-bold.text-uppercase.mt-3.mb-4 Clientes
        %ul.list-unstyled
          %li
            %a{:href => "#!"} Link 1
          %li
            %a{:href => "#!"} Link 2
          %li
            %a{:href => "#!"} Link 3
          %li
            %a{:href => "#!"} Link 4
      / Grid column
    / Grid row
  / Footer Links
  %hr/
  / Call to action
  %ul.list-unstyled.list-inline.text-center.py-2
    %li.list-inline-item
      %h5.mb-1 ¡Registrate gratis!
    %li.list-inline-item
      %a.btn.btn-danger.btn-rounded{:href => "#!"} Acceder
  / Call to action
  %hr/
  / Social buttons
  %ul.list-unstyled.list-inline.text-center
    %li.list-inline-item
      %a.btn-floating.btn-fb.mx-1
        %i.fa.fa-facebook
    %li.list-inline-item
      %a.btn-floating.btn-tw.mx-1
        %i.fa.fa-twitter
    %li.list-inline-item
      %a.btn-floating.btn-gplus.mx-1
        %i.fa.fa-google-plus
    %li.list-inline-item
      %a.btn-floating.btn-li.mx-1
        %i.fa.fa-linkedin
  / Social buttons
  / Copyright
  .footer-copyright.text-center.py-3
    © 2018 Copyright:
    %a{:href => "https://alehernandezdev.com"} alehernandezdev.com
  / Copyright
/ Footer